.library-list-item-container {
	width: 100%;
	height: 100%;

	img {
		min-height: 0;
		flex-shrink: 1;
		width: 50%;
	}

	& > button, a {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		background-color: rgb(182, 182, 182);
	}

	a {
		text-decoration: none;
		color: black;
	}

	& > button {
		border: none;
		&:hover {
			cursor: pointer;
		}
	}
}