.reading-goal-tracker-container {
	align-items: center;
	display: flex;
	width: 100%;
}

.reading-goal {
	border: solid .05em rgb(219, 219, 219);
	border-radius: 2em;
	flex-basis: 95%;
	height: 3em;
	margin-right: .5em;
	position: relative;
	overflow: hidden;
}

.stats {
	display: flex;
	justify-content: space-between;
	padding: 0em 1em;
	position: absolute;
	top: 1em;
	width: 100%;
}

.books-completed {
	background-color: #C8B6A6;
	border-radius: 2em;
	height: 100%;
}