.button-container {
	border: none;
	
	&.default {
		background-color: #C8B6A6;
		border-radius: .1em;
	}

	&:hover {
		background-color: #8e7153;
		cursor: pointer;
	}

	&.list-item-button {
		background-color: transparent;
		border: none;	
		display: block;
		text-align: left;
		width: 100%;
	}

	&.icon {
		font-size: 1.5rem;
		width: 1em;
		height: 1em;
		padding: 0;
		background-color: transparent;
		color: #C8B6A6;

		&:hover {
			color: #8e7153;
		}
	}

	&.pressed {
		background-color: #8e7153;
	}
}