.button-container {
	background-color: #C8B6A6;
	border: none;
	margin: 0em 1em 0em 0em;
	border-radius: .1em;

	&:hover {
		background-color: #b09e8c;
		cursor: pointer;
	}

	&.listItem {
		display: block;
		width: 100%;
		text-align: left;
		background-color: transparent;
		border: none;
	}

	&.icon {
		font-size: 1.5rem;
		width: 1em;
		height: 1em;
		padding: 0;
		background-color: transparent;
		color: #C8B6A6;

		&:hover {
			color: #b09e8c;
		}
	}

	&.pressed {
		background-color: #8d7a67;
	}
}