.book-listing-container {
	display: flex;
	padding: 1em;
	border-bottom: .05em solid #c3bbb2;

	img {
		width: 5em;
	}

}

.book-details {
	margin-left: 1em;
}

.options {
	display: flex;
	position: relative;
	a {
		background-color: #C8B6A6;
		border: none;
		margin: 0em 1em 0em 0em;
		text-decoration: none;
		color: black;
		padding: 1px 6px;
		flex-grow: 0;

		&:hover {
			background-color: #bfb0a1;
			cursor: pointer;
		}
	}
	
}