.book-listing-container {
	border-bottom: .05em solid #c3bbb2;
	display: flex;
	padding: 1em;
	
	img {
		flex-basis: 5em;
		min-width: 5em;
	}
}

.book-details {
	margin-left: 1em;
	min-width: 0em;
}

.options {
	display: flex;
	position: relative;
	//change flex direction in media query
	a {
		background-color: #C8B6A6;
		border: none;
		border-radius: .1em;
		color: black;
		margin: 0em 1em 0em 0em;
		padding: 1px 6px;
		text-decoration: none;
		&:hover {
			background-color: #8e7153;
			cursor: pointer;
		}
	}

	button {
		margin: 0em 1em 0em 0em;
	}
}