.libraries-list-container {
	ul {
		display: grid;
		grid-auto-rows: 14em;
		grid-gap: 1em;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
		margin: 1em 0em;
	}
}

@media screen and (max-width: 780px) {
	.libraries-list-container {
		ul {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
