.libraries-list {
	position: absolute;
	top: 1.5em;
	width: 7.03em;
	background-color: white;
	box-shadow: 0em .1em .5em rgb(174, 174, 174);

	li{
		&:hover{
			background-color: rgb(174, 174, 174);
		}
	}
}