.search-bar-container {
	background-color: white;
	border-radius: .1em;
	flex-basis: 20em;
	height: 1.8em;
	
	button {
		position: absolute;
		right: .7em;
		top: .4em;
	}

	input {
		border: none;
		border-radius: .1em;
		height: 100%;
		padding: 0em .5em;
		width: 100%;
		
		&:focus {
			outline: solid .1em #C8B6A6;
		}
	}
}