.search-bar-container {
	background-color: white;
	flex-basis: 20em;
	height: 1.8em;
	border-radius: .1em;

	button {
		margin: 0;
		position: absolute;
		right: .7em;
		top: .4em;
	}

	input {
		width: 100%;
		height: 100%;
		border-radius: .1em;
		border: none;
		padding: 0em .5em;
		&:focus {
			outline: solid .1em #C8B6A6;
		}
	}
}